.bar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    transition: all ease-in-out .3s;
    background-color: #004C7D;
}

.bar input{
    width: 391px;
    border-radius: 12px;
    outline: none;
    border: none;
    height: 20px;    
    padding: 15px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar .logo img{
    margin-top: 10px;
    width: 120px;
    height: 90px;
}

.bar .logo-content p{
    font-size: 1.2rem;
    text-align: center;
    color: #f2f2f2;
    font-weight: 500;
}
@media screen and (max-width: 960px) {
    .bar{
        justify-content: center;
        background-color: #333;
        margin-top: 0;
        height: 80px;
    }
    .logo .logo-content p{
        color: #f2f2f2;
    }
  } 