.bar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    margin-top: 10px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;

}
.bar .logo img{
    margin-top: 10px;
    width: 120px;
    height: 90px;
}
.bar .logo-content{
    margin-left: -10px;
}

.bar .logo-content p{
    font-size: 1.2rem;
    text-align: center;
    color: #424242;
    font-weight: 500;
}