.man-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 240px;
    padding-left: 240px;
    transition: all ease-in-out .3s;
}
.box-content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start!important;
}
.box-destaque{
    margin-top: 25px;
    width: 100%;
}
.container-destaque{
    margin: 0 auto;
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
}
.container-destaque h2{
    font-size: 1.2em;
    color:#050511;
    font-weight: 500;
    text-align: center;
}
.container-destaque h2::after{
    content: '';
    width: 150px;
    margin: 0 auto;
    height: 2px;
    display: block;
    background-color: #050511;
}

.box-sessoes{
    margin-top: 15px;
    width: 100%;
}
.container-sessoes{
    margin-top: -20px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
}
.container-sessoes h2{
    text-align: center;
    font-size: 1.2em;
    color:#050511;
    font-weight: 500;
}
.container-sessoes h2::after{
    content: '';
    width: 150px;
    margin: 0 auto;
    height: 2px;
    display: block;
    background-color: #050511;
}
.card{
    width: 300px;
    height: 210px;
    margin-top: 4px;
    background: transparent;
    border-radius: 3px;
    margin-right: 5px;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    padding: 1px;
}

.card img {
    width: 242px;
    height: 136.125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
}
.card p{
    color: #333;
    font-weight: 500;
    font-size: .8rem;
    text-align: left;
    padding-top: 10px;
    padding-left: 1px;
}

.with-css {
    width: 242px;
}

.with-css p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container-card{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 860px) {
    .man-content {
      padding-right: 200px;
      padding-left: 200px;
    }
    .box-content{
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
  } 

@media screen and (max-width: 960px) {
    .man-content {
      padding-right: 0;
      padding-left: 0;
    }
    .box-content{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
  } 