.man-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 240px;
    padding-left: 240px;
    scroll-behavior: smooth;
    transition: all ease-in-out .3s;
}
.box-content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.box-destaque{
    margin-top: 25px;
    width: 100%;
}
.container-destaque{
    margin-top: 20px;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #c24f1a;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #c24f1a;
}
.container-destaque h2{
    font-size: 1.4em;
    color:#f2f2f2;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}
/* .container-destaque h2::after{
    content: '';
    width: 150px;
    margin: 0 auto;
    height: 2px;
    display: block;
    background-color: #333;
} */

.box-sessoes{
    margin-top: 15px;
    width: 100%;
}
.container-sessoes{
    margin-top: 20px;
    width: 100%;
    background-color: #004C7D;
    padding: 10px 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
}
.container-sessoes h2{
    text-align: center;
    font-size: 1.2em;
    color:#f2f2f2;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}
/* .container-sessoes h2::after{
    content: '';
    width: 150px;
    margin: 0 auto;
    height: 2px;
    display: block;
    background-color: #333;
} */
.section-one{

    background-color: #f2f2f2;
    
}
.box-card{
    width: 100%;
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
}

.crd{
    width: 350px;
    height: 210px;
    background-color: #f2f2f2;
    margin-bottom: 40px;
    margin-top: 30px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: row;
}

.crd img {
    width: 350PX;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;   
}
.crd p{
    color: #333;
    font-weight: 500;
    font-size: .8rem;
    text-align: left;
    padding-top: 10px;
    padding-left: 1px;
}

.with-css {
    width: 242px;
}
.with-css button{
    width: 100%;
    margin-top: -100px;
    border: none;
    height: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
}

.crd .with-css button:hover{
    opacity: 1;
}
.with-css button img{
    width: 50px;
    height: 50px;
    margin-top: -20px;
}
.with-css p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.container-card{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
}
@media screen and (min-width: 860px) {
    .man-content {
      padding-right: 200px;
      padding-left: 200px;
    }
    .box-content{
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
  } 

@media screen and (max-width: 960px) {
    .man-content {
      padding-right: 0;
      padding-left: 0;
    }
    .box-content{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
  } 