.content-video{
    width: 60%;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, .2);
    border-radius: 3px;
}
.content-video .title h2{
    color: #333;
    font-size: 1.2rem;
    font-weight: 300;
}
.content-video .title h2::after{
    content: '';
    display: block;
    margin-right: 10px;
    width: 40px;
    height: 2px;
    background: red;
}
.title{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
}
.title span{
    margin-left: 4px;
    margin-top: -5px;
    width: 40px;
    height: 15px;
    font-size: .5em;
    text-align: center;
    padding: 2px;
    color: #fff;
    background: red;
    border-radius: 3px;
}
.box-videos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
}