.cronograma-content{
    width: 30%;
    margin-left: 10px!important;
    background: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
    border-radius: 12px;
    margin-top: 90px!important;
}
.title-cronograma{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
}

.title-cronograma h2{
    margin-right: 35px;
    font-size: 1em;
    font-weight: 600;
    color: #004C7D;
}

.content-programacao{
    display: flex;
    margin-top: -10px;
    justify-content: start;
    flex-direction: column;
    padding: 20px;
}
.content-programacao p{
    font-size: .8rem;
    text-align: start;
    color: #0d10af;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.content-programacao p::after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background: #004C7D;
}
@media screen and (min-width: 860px) {
    .cronograma-content{
        width: 30%;
        height: 100%;
        margin: 0 auto;
    }

  } 

@media screen and (max-width: 960px) {
    .cronograma-content{
        width: 100%;
        
        margin: 0 auto;
    }

  } 